body {
  /* background-color: rgb(1, 8, 8); */
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.navbar {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.hero{
    width: 100%;
    background-color: rgb(17, 10, 1);
}
